.userBanner {
    height: 100px;
    border-bottom: 2px solid rgb(67, 193, 235);
    width: 100%;
}

.userName {
    margin-left:110px;
    position: relative;
    bottom: 75px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

input {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.radius {
    margin-left:110px;
    position: relative;
    bottom: 75px;
    font-size: 14px;
    
}

.facebook{
    color: blue;
}

.twitter {
    color: rgb(112, 219, 255);
}

.snapchat {
    color: rgb(255, 238, 82)
}

.linkedin {
    color: rgb(0, 113, 151)
}

.instagram {
    color: rgb(134, 23, 129)
}

.pdf { 
    color: rgb(233, 73, 73)
}

.audiofile {
    color: rgb(121, 182, 72)
}

.javascript {
    color: rgb(151, 14, 14)
}

a:hover {
    text-decoration: none;
}


#form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 9%
}

#submitButton {
    margin-left: 110px;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {
    .hideOnMobile {
        display: none
    }
  }